<!DOCTYPE HTML>
<html>
<head>
 
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">

</head>

<body>
	 <script type="text/template" id="question-template">
		 <from name='questions'>
			<table class = 'table table-hover'> 
				<thead>
					<tr><th><%= clue_name %></th></tr>
				</thead>
				<tbody>
					<tr><th id=option0> <input  type=radio value=0 name=answer class='opt' > <%= opt0 %> </th></tr>
					<tr><th id=option1> <input  type=radio value=1 name=answer class='opt' > <%= opt1 %></th></tr>
					<tr><th id=option2> <input  type=radio value=2 name=answer class='opt' > <%= opt2 %> </th></tr>
					<tr><th id=option3> <input  type=radio value=3 name=answer class='opt' > <%= opt3 %> </th></tr>
					<tr><th id=option4> <input  type=radio value=4 name=answer class='opt' > <%= opt4 %> </th></tr>
				</tbody>
			</table>
		</form> 
        
         </script>
	<script type="text/javascript" src="/static/js/lib/underscore-min.js"></script>
	<script type="text/javascript"  src="/static/js/lib/jquery-min.js"></script>
	<script type="text/javascript"  src="/static/js/lib/backbone-min.js"></script>
				
			
	<div id=actions>
		 <!-- Action Contents goes Here --> 
		<div id=player> 
			<!-- Player Contents goes here --> 
		</div>
		<center>
			<button class='btn btn-primary' style='margin-top:50px;width:150px;'> Achievements </button> <br/>
		</center>
		<center>
			<button class='btn btn-success' style='margin-top:10px;width:150px;'> Chellenge Game </button><br/>
		</center>
		<center>
			<button class='btn btn-danger' style='margin-top:10px;width:150px;'> Feedback </button><br/>
		</center>

	</div>
	<div id=friends> 
		<!-- Friends list goes here --> 
	</div>

	<div id='canvas'> 
		<!-- game contents goes here -->	
		
		 <div id=time> 
			TIME : 00 
		</div>
		<div id=score>
			SCORE: 00
		</div>   

                <div id='question'>
			<!-- Questions Goes here -->		
		</div> 
		<button class='btn btn-primary' id='startbutton' onclick='startGame()'> Start Game </button> 
	</div>
	
	<script type='text/javascript' src='/static/js/app.js'></script>
	<script type='text/javascript'>
                //--hide the  question , time , score 
		$("#question,#time,#score,#startbutton").hide();
	
		DIZEEZ_FB.questcoll.fetch({success:function() { 
						DIZEEZ_FB.discoll.fetch({success:function(){
                                                                          DIZEEZ_FB.disname = DIZEEZ_FB.discoll.pluck('disease_name');
                                                                          $("#startbutton").show();
                                                                        }});
                                                },'url':"{{ fetch_url|safe }}"});
	
		function startGame() {
			$("#question,#time,#score").show();
			$("#startbutton").hide();
			DIZEEZ_FB.start();
		}
	</script>


</body>
</html>
