<html>
	<head>
		<title> Dizeez -- Guess the Related Disease !!! </title>
	</head>
	<body >
		<div style='background-color:#DCD5D5;height:550px'>
		<h1 align=center style='font-size:45px;'> Dizeez ! <h1>
		<h2 align=center style='font-size:15px;'>Welcome </h2>
		<!--			
		<p align=center style='font-size:20px'> Hi Flocks , The FB version of Dizeez is around the corner. Stay tuned.
			For the mean time , You can play the game  <a href='http://sulab.scripps.edu/dizeez/'> Here </a> 
		</p> 
		-->
		<div  style="font-size:15px;margin-left:200px;"> 
				The Rules :
				<ol align=left>
					<li> Your are shown one gene name </li>
					<li> You are also shown five diseases </li>
					<li> Pick the disease that is linked to the gene to get points </li>
					<li> Get as many points as you can in one minute </li>
				</ol>
		</div>				
		<h2 align=center style="font-size:20px;" > Select Your Game </h>
		<table class="table " style="margin-left:150px;"> 
			<thead>
				<tr>
					<th> Disease By Area </th>
					<th> By Protien Family </th>
				</tr>
			<thead>
			<tbody>
				<tr>
					<th> <a href="/play?game=cancer"> Cancer </a> </th>
					<th> <a href="/play?game=Kinases"> Kinases </a> </th>
				</tr>
				<tr>
					<th> <a href="/play?game=Metabolism"> Metabolish </a> </th>
					<th> <a href="/play?game=Proteases"> Proteases </a> </th>
				</tr>
				<tr>
					<th> <a href="/play?game=Immunology" > Immunology </a> </th>
					<th> <a href="/play?game=TF">   Transcription Factors </a> </th>
				</tr>
				<tr>
					<th> <a href="/play?game=MentalHealth"> Mental Health </a> </th>
				</tr>
			</tbody>
		</table>
		<h2 align=center> <a href='http://www.sulab.org'> Su Lab </a> <h2>
		<script src="/static/js/lib/bootstrap-min.js"></script>
		<link href="/static/css/bootstrap-min.css" rel="stylesheet">
		<script src="/static/js/lib/jquery.min.js"></script>
		</div>
	</body>
</html>

	
