<!DOCTYPE HTML>
<html>
<head>
 
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">

</head>

<body>
         <script type=text/template id=choice-template>
           <input type=radio class=choice name='choice' value=<%= correct %>  onclick="DIZEEZ_FB.displayNextQuestion()"> <%= text %> <br/>
         </script>
         
         <script type=text/template id=question-template>
	   <p> <%= text %> </p>
         </script>
	
        <script type="text/javascript" src="/static/js/lib/underscore-min.js"></script>
	<script type="text/javascript"  src="/static/js/lib/jquery-min.js"></script>
	<script type="text/javascript"  src="/static/js/lib/backbone-min.js"></script>
        <script type="text/javascript" src="/static/js/lib/backbone-relational.js"></script>				
			
	<div id=actions>
		 <!-- Action Contents goes Here --> 
		<div id=player> 
			<!-- Player Contents goes here --> 
		</div>
		<center>
			<button class='btn btn-primary' style='margin-top:50px;width:150px;'> Achievements </button> <br/>
		</center>
		<center>
			<button class='btn btn-success' style='margin-top:10px;width:150px;'> Chellenge Game </button><br/>
		</center>
		<center>
			<button class='btn btn-danger' style='margin-top:10px;width:150px;'> Feedback </button><br/>
		</center>

	</div>
	<div id=friends> 
		<!-- Friends list goes here --> 
	</div>

	<div id='canvas'> 
		<!-- game contents goes here -->	
	        <!--	
		 <div id=time> 
			TIME : 00 
		</div>
		<div id=score>
			SCORE: 00
		</div>   

                <div id='question'>
			<!-- Questions Goes here -->		
         	</div> -->
                <div id='question-area' > </div>
                <div id='choices-area'> </div>
	</div>
	
       <script type=text/javascript src=/static/js/app.js> </script>

</body>
</html>
